.navigate-push-enter {
  transform: translateX(100%);
}

.navigate-push-enter-active {
  z-index: 1;
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.navigate-push-exit {
  transform: translateX(0);
}

.navigate-push-exit-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

/* 뒤로가기 애니메이션 */
.navigate-pop-enter {
  transform: translateX(0);
}

.navigate-pop-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.navigate-pop-exit {
  transform: translateX(0);
}

.navigate-pop-exit-active {
  z-index: 1;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.transition-wrapper {
  position: relative;
  width: 430px;
  height: 100dvh;
  background-color: white;
}

.transition-wrapper > div {
  position: absolute; /* 페이지들이 겹치게 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
